<div id="carousel-example-generic" class="carousel slide backdrop-carousel" data-ride="carousel">
  {{search-box}}
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img src="https://cdn-hotel-images.holidaywatchdog.com/images/51772_5f2c9e429cf02a315f5cae9f66112650.jpg" alt="Devondell">
    </div>
    <div class="carousel-item">
      <img src="http://www.lougheske.com/wp-content/uploads/2010/06/Home01.jpg" alt="Rhu Gorse">
    </div>
    <div class="carousel-item">
      <img src="http://arranmorehouse.com/wordpress_july/wp-content/uploads/2014/07/house4.jpg" alt="Arranmore House">
    </div>
  </div>
</div>
