<div id="carousel-example-generic" class="carousel slide backdrop-carousel" data-ride="carousel">
  {{search-box}}
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img src="http://www.lougheske.com/wp-content/uploads/2010/06/Home01.jpg" alt="Devondell">
    </div>
  </div>
</div>
