<form class="search-box form-inline">
  <div class="box-text">
    <h3>The Irish B&amp;B DB</h3>
    <h3>Homes Away From Home</h3>

    {{#link-to 'browse'}}<button class="btn btn-success btn-lg">Get Started</button>{{/link-to}}
  </div>
</form>
