<form class="search-box form-inline">
  <div class="box-text">
    <h3>B&amp;B DB</h3>
    <h3>Homes Away From Home</h3>
    {{input placeholder="Search" maxlength="64" value=product-name class="product-info"}}

    <button {{action 'showItemFormToggle'}}class="btn btn-success btn-lg">Search</button>
  </div>
</form>
