.carousel-inner {
  max-height: 560px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.search-box {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -70px;
  margin-left: -191px;
  z-index: 11;
  background: rgba(0, 77, 0,0.8);
  box-shadow: none;
  outline: none;
  border-radius: 12px;
  padding: 10px;
}

.box-text {
  opacity: 1;
  z-index: 10;
  color: white;
  text-align: center;
}

.main-navbar {
  display: block;
  opacity: 0.8
}
