<div class="container">
  <h3>Add a B&amp;B</h3>

  {{bandb-form bandbCreate="bandbCreate"}}

  <hr>

  <div>
    <h3>Delete a B&amp;B</h3>
    <div>
      {{#each model as |bandb|}}
        <div>
          {{bandb.name}} <button {{action 'bandbDelete' bandb}}>Delete</button>
        </div>
      {{/each}}
    </div>
  </div>
</div>
